body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* adds background image to div class */
  .banner-image {
    background-image: url("images/food-background.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.midbanner {
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/* Background color to topnav */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style links inside the nav bar */
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    width: 180px;
  }
  
  /* changes color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* add color to active link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
/* center ul */
.topnav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

/* keeps li items next to each other */
.topnav li {
    display: inline-block;
}

/* centers events id */
#events {
    text-align: center;
    margin: 50px;
    padding-bottom: 100px;
}

* {
    box-sizing: border-box;
}