body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
  color: black;
}
  /* adds background image to div class */
  .banner-image {
    padding-top: 10px;
    background-image: url("images/food-background.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .storename {
    padding-top: 20px;
    padding-bottom: 28x;
    font-family: 'Bree Serif', serif;
    color: black;
    font-size: 55px;
  }

.midbanner {
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/* Background color to topnav */
.topnav {
    background-color: #4e6172;
    overflow: hidden;
  }
  
  /* Style links inside the nav bar */
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    width: 180px;
  }
  
  /* changes color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    background-size: cover;
    color: black;
  }
  
  /* add color to active link */
  .topnav a.active {
    background-color: #5a1d22;
    color: white;
  }
/* center ul */
.topnav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

/* keeps li items next to each other */
.topnav li {
    display: inline-block;
}

/* centers events id */
#events {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
    background-color: #a3481b;
    border: solid #000000;
}

* {
    box-sizing: border-box;
}

.storename {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 10px;
  background-color: #556b2f;
  border-left: solid #000000;
}


.row:after {
  clear: both;
}

.fit {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.col-container {
  width: 100%;
  height: 100%;
  
}

.row {
  display: flex;
}

.site-footer {
  border: solid #000000;
  background-color:#a3481b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #000000;
 text-decoration:none;
 
}

.site-footer h6 {
  color: #000000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  margin-left: 15px;
  letter-spacing:2px
}

.site-footer p {
  margin-left: 15px;
}

.site-footer a {
  color:#737373;
}

.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}
  
  
.footer-links li {
display:block;
}

.footer-links a {
  color: #000000;
}  
  

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#3366cc;
  text-decoration:none;
}


